
.title{
    margin-bottom: 12px;
    width: 230px;
    height: 29px;
   }
.card{
    border-radius: 10px;
    border: lightgray hidden 1px;
    width: 230px;
    margin-bottom:20px;
    margin-left: 20px;
}
.allcards{
    margin-left:100px;
}
.pin{
    color: gray;
    margin-left: 135px;
}
.width{
    width: 400px;
    border: lightgray hidden 1px;
    border-radius: 10px;
}
@media only screen and (max-width:600px){
    .cards11{
        flex-direction: row;
    box-sizing: border-box;
    display: flex;
    margin-right: 236px;
    }
}