.container{
  height: 100%;
  width: 100%;
}
 .mat-toolbar{
   color: dimgrey;
 }
   .mat-toolbar {
   background: white;
}
 .search{
   border:none;
   outline:none;
   background: rgba(0,0,0,0);
   height:40px;
   border-radius: 8px;
 }
 .searchdiv{
  border:none;
  outline:none;
  background: rgba(0,0,0,0.04);
  height:40px;
  border-radius: 8px;

 }


