
<mat-toolbar>
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
        <h1>FundooNotes</h1>
    </button>
    
    <div fxFlex="50" fxLayout="row" fxLayoutAlign="space-evenly center">
        <mat-form-field appearance="outline" [style.fontSize.px]="1">
            <button mat-icon-button>
                <mat-icon>search</mat-icon>
            </button>
        <input fxFlex= "90" matInput placeholder="search" [style.fontSize.px]="18" autocomplete="off">
    </mat-form-field> 
    </div>

</mat-toolbar>