<!-- <mat-toolbar class="mat-toolbar">
    <div fxFlex="4">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon class="menu">menu</mat-icon>
        </button>
    </div>

    <div fxFlex="17">
        <h1 class="menu">FundooNotes</h1>
    </div>

    <div class="searchdiv" fxFlex="70" fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
        <input fxFlex="90" class="search" matInput placeholder="search" [style.fontSize.px]="18" autocomplete="off">
    </div>
    <div fxFlex="5" class="menu">
        <button mat-icon-button>
            <mat-icon>refresh</mat-icon>
        </button>
    </div>

    <div fxFlex="5">
        <button mat-icon-button>
            <mat-icon class="menu">border_all</mat-icon>
        </button>
    </div>

    <div fxFlex="15">
        <button mat-icon-button>
            <mat-icon class="menu">settings</mat-icon>
        </button>
    </div>

    <div fxFlex="5">
        <button mat-icon-button>
            <mat-icon class="menu">apps</mat-icon>
        </button>
    </div>

    <div fxFlex="5">
        <button mat-icon-button>
            <mat-icon class="menu">notifications</mat-icon>
        </button>
    </div>
    <div>
        <button mat-icon-button>
            <mat-icon class="menu">account_circle</mat-icon>
        </button>
    </div>
</mat-toolbar> -->


<!-- <mat-sidenav-container>
    <mat-sidenav #sidenav >
    <mat-sidenav-content>Main content</mat-sidenav-content>
    <mat-nav-list>
            <div>
                <mat-icon>lightbulb_outline</mat-icon>Notes
            </div>
          </mat-nav-list>
        </mat-sidenav>
</mat-sidenav-container> -->

<!-- <mat-sidenav-container >
    <mat-sidenav #sidenav mode="side" opened="true" style="min-width: 50px;" >
        <mat-nav-list>
            <div>
                <mat-icon>lightbulb_outline</mat-icon>Notes
            </div>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container> -->


<!-- <mat-toolbar>
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <mat-list-item>Notes</mat-list-item>
        <mat-list-item>Reminders</mat-list-item>

      </mat-nav-list>
    </mat-sidenav>

   
  </mat-sidenav-container> -->

  <!-- <div>
        <mat-list>
                <mat-list-item> <mat-icon>lightbulb_outline</mat-icon>Notes </mat-list-item>
        </mat-list>
  </div> -->
  <div>
  <app-take-note></app-take-note>
</div>