<div fxFlex="90" fxLayoutAlign="center center">
  <mat-card class="center1" fxFlex="40">
     
     <mat-card-title>Login</mat-card-title>
    <!-- <h1 md-dialog-title class="primary-color">Login</h1> -->

    <div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder=" Enter Email">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>password</mat-label>
          <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'password'">
        </mat-form-field>
      </div>
      </div>

       <button mat-button color="primary">Login</button>
      <button mat-button color="primary">create account</button>
      <button mat-button color="primary">forgot password</button>

  </mat-card>
</div>