.labelinput
{
    border:transparent;
    width: 220px;
    outline:none;
}
.size{
    // margin-left: 159px;
    margin-left: 180px;
}
// .label-content:hover.labels{
//     visibility:hidden;
// }
// .label-content:hover.delete{
//     visibility:visible;
// }
.labels1{
    margin-left: 17px;
  }
  .mat-dialog-container{
      border-radius: lightgray sloid 1px;
  }
  .input{
    margin-bottom: 10px;
  }