<mat-card class="center" fxFlex="40">
  <mat-card-title>Reset Password</mat-card-title>
  <mat-card-title>Please enter your new password </mat-card-title>

  
    <div class="resetpassword">
      <mat-form-field appearance="outline">
        <mat-label>password</mat-label>
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'password'">
      </mat-form-field>
    </div>
    <div class="resetpassword2">
      <mat-form-field appearance="outline">
        <mat-label>confirm password</mat-label>
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'password'">
      </mat-form-field>
    </div>



  <div class="example-button-row">
    <button mat-raised-button color="primary">submit</button>
  </div>


</mat-card>