.center{
    margin-left: 38%;
    margin-top: 5%;
    border: lightgray solid 1px;
    margin-right: 58px;
 }
 .resetpassword{
    width:90%;
}
.resetpassword2{
    width:90%;
}.color{
    color: purple;
}
.size{
    margin: 50px;
}
