<mat-card class="center" fxFlex="40">
  <div class="size">
  <h2 class="color">Reset Password</h2>
  <h4>Please enter your new password </h4>


  <div class="resetpassword">
    <mat-form-field appearance="outline">
      <mat-label>password</mat-label>
      <input matInput [formControl]="password" placeholder="Enter password" [type]="hide ? 'password' : 'password'">
      <mat-error *ngIf="password.invalid">{{getpasswordErrorMessage()}}</mat-error>

    </mat-form-field>
  </div>
  <div class="resetpassword2">
    <mat-form-field appearance="outline">
      <mat-label>newpassword</mat-label>
      <input matInput placeholder="confirmpassword" [formControl]="newpassword" [type]="hide ? 'password' : 'password'">
      <mat-error *ngIf="newpassword.invalid">{{getnewpasswordErrorMessage()}}</mat-error>

    </mat-form-field>
  </div>



  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="reset()">submit</button>
  </div>
</div>

</mat-card>