.card{
    margin-left: 140px;
    margin-top: 25px;
    height:40px;
    border-radius: 8px;
    width: 500px;
}
.outline{
   border:none;
   outline: none;
}
.iconcolor{
    color:dimgray;
}
.maindiv{
    background-color: white;
}.input{
    border:none;
    outline:none;
    margin-right: 350px;
}