<!-- <div>
<h3>Collaborators</h3>
</div>
<mat-divider></mat-divider>
<div>
<mat-card class="card">


      <button mat-icon-button class="icon">
        <mat-icon>person_outline</mat-icon>
      </button>
     
      <span class="minsize">{{userDetails.name}}(Owner)</span>
    <mat-card-subtitle>{{userDetails.email}}</mat-card-subtitle>

    <div fxLayout="column" *ngFor="let singleCollab of data.notedetails.collabList">
      <div fxLayout="row">
        <p style="margin-left:5%;">{{singleCollab.email}}</p>
        <button mat-icon-button data-text-swap="Show" (click)="cancelCollaborator(singleCollab.email)"
          matTooltip="Delete">
          <mat-icon class="iconcolor" style="float: right;">
            close
          </mat-icon>
        </button>
      </div>
    </div>

    <div fxLayout="row ">

     
      <div fxLayout="row" fxAlignLayout="center start">
      <button mat-icon-button class="icon">
          <mat-icon>person_outline</mat-icon>
        </button>
      </div>
      <div fxLayoutAlign="start center">
        <input class="collabinput" matInput [(ngModel)]="email" type="text" name="email"
          placeholder="Person or email To Share With">
      </div>
    </div>

 
  <div>
    <mat-divider></mat-divider>
    <div>
      <button mat-raised-button (click)="addCollaborator()">Save</button>
      <button mat-raised-button [mat-dialog-close]> Cancel </button>
    </div>
  </div>
</mat-card>
</div>  -->
<div>
<div class="Collaborators">
  <h3 class="Collaborators">Collaborators</h3>
</div>
<mat-divider></mat-divider>
<div>
  <mat-card class="card">
    <button mat-icon-button class="icon">
      <mat-icon>person_outline</mat-icon>
    </button>
    <div fxLayout="row">
      <button mat-icon-button class="icon">
        <mat-icon>person_outline</mat-icon>
      </button>
        <input class="collabinput" matInput [(ngModel)]="email" type="text" name="email"
          placeholder="Person or email To Share with">
    </div>
      <div>
          <div>
          <mat-divider></mat-divider>
        </div>
          <div  class="save">
            <button mat-raised-button (click)="addCollaborator()">Save</button>

            <button mat-raised-button [mat-dialog-close]  class="cancel"> Cancel </button>
          </div>
        </div>
      
  </mat-card>
</div>
</div>