.card{
    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    border: solid 2px transparent;
    overflow-y: hidden; 
}
.collabinput
{
    border:transparent;
    width: 220px;
}
  .icon{
    border-radius: 50% 50% 50% 50%;
    border-color: gray;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    margin-left: -12px;
    zoom: 1

}
/deep/.mat-dialog-container{
    height: 251px;
    width: 600px;
    overflow: hidden;
    border: lightgray solid 2px;
    border-radius: 17px;
}
.save{
    margin-left: 331px;
    margin-top: 10px;
}
.cancel{
    margin-left: 15px;
    margin-top: 9px;
}
.Collaborators{
    color: gray;
}
.name{
    margin-left: 55px;
}
.email{
    margin-top: -48px;
    margin-left: 50px;
}
.email1{
    margin-top: -21px;
}
.po{
    margin-top: 3px;
}