<div fxLayout="row">
    <button mat-icon-button [matMenuTriggerFor]="list">
        <img src="../../../assets/image/download.svg" matTooltip="Remind me">
    </button>


    <button mat-icon-button  (click)="openDialog()">
        <img src="../../../assets/image/download (2).svg" matTooltip="Collaborator">
    </button>

    <div>
        <button mat-icon-button [matMenuTriggerFor]="color">
            <img src="../../../assets/image/download (3).svg" matTooltip="Change color">
        </button>
    </div>

    <button mat-icon-button>
        <img src="../../../assets/image/download (4).svg" matTooltip="Add image">
    </button>

    <button mat-icon-button>
        <img src="../../../assets/image/download (5).svg" matTooltip="Archive" (click)="archivedNotes()">
    </button>

    <button mat-icon-button [matMenuTriggerFor]="items">
        <mat-icon matTooltip="More" matTooltip="More" class="menu">more_vert</mat-icon>
    </button>

    <mat-menu #color="matMenu" class="colorMenu">
        <ng-template matMenuContent>
            <div>
                <div fxLayout="row" fxLayoutGap="10px" *ngFor="let colors of arrayOfColors">
                    <div *ngFor="let color of colors">
                        <button class="colorArray" matTooltip={{color.name}}
                            [ngStyle]="{'background-color': color.color}" (click)="setColor(color.color)">

                        </button>
                    </div>

                </div>
            </div>
        </ng-template>
    </mat-menu>


    <mat-menu #list="matMenu" class="reminderMenu">

        <label class="label4">Reminder:</label>
        <button mat-menu-item (click)="setLaterToday()">Later today
            <label class="labels">20:00</label>
        </button>

        <button mat-menu-item (click)="setTomorrow()">Tomorrow
            <label class="labels1">8:00</label>
        </button>

        <button mat-menu-item (click)="setNextweek()">Next week
            <label class="labels2">Mon,8:00</label>
        </button>

        <button mat-menu-item>Home
            <label class="labels3">Mumbai</label>
        </button>

        <button mat-menu-item [matMenuTriggerFor]="datePicker">
            <mat-icon>schedule</mat-icon>select date and time
        </button>

    </mat-menu>

    <mat-menu #items="matMenu" class="moreVertMenu" (click)="$event.stopPropagation()">
        <button mat-menu-item (click)="deleteNote()">Delete note</button>
        <button mat-menu-item [matMenuTriggerFor]="addlabel">Add label</button>
        <button mat-menu-item>Add drawing</button>
        <button mat-menu-item>Make a copy</button>
        <button mat-menu-item>Hide tick boxes</button>
        <button mat-menu-item>Copy to Google Docs</button>

    </mat-menu>
    <mat-menu #addlabel="matMenu" class="addlabel" (click)="$event.stopPropagation()">
        <label>Label note</label>
        <div class="size">
            <input matInput placeholder="Enter label name">
        </div>
    </mat-menu>


    <mat-menu #datePicker="matMenu" class="datePicker">
        <!-- <mat-menu-content  class="dateTimePicker"> -->
        <label class="size">Select date and time</label>
        <!-- </mat-menu-content> -->
        <mat-divider></mat-divider>
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl]="dPicker"
                (click)="$event.stopPropagation()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field (click)="$event.stopPropagation()">
            <mat-label>Choose time</mat-label>
            <mat-select matInput [formControl]="tPicker" (click)="$event.stopPropagation()" class="Options">
                <mat-option value="Morning 08:00">Morning 08:00</mat-option>
                <mat-option value="Afternoon 08:00">Afternoon 13:00</mat-option>
                <mat-option value="Evening 08:00">Evening 18:00</mat-option>
                <mat-option value="Night 08:00">Night 20:00</mat-option>
            </mat-select>
        </mat-form-field>
        <button class="save" (click)="saveReminder()">
            <label>save</label>
        </button>
    </mat-menu>








</div>