<div fxLayout="row">
    <button mat-icon-button>
        <mat-icon matTooltip="Remind me" class="menu">notifications_icon</mat-icon>
    </button>

    <button mat-icon-button>
        <mat-icon matTooltip="Collaborator" class="menu">person_add</mat-icon>
    </button>

    <button mat-icon-button>
        <mat-icon matTooltip="Change color" class="menu">color_lens</mat-icon>
    </button>

    <button mat-icon-button>
        <mat-icon matTooltip="Add image" class="menu">image</mat-icon>
    </button>

    <button mat-icon-button>
        <mat-icon matTooltip="Archive" class="menu">archive</mat-icon>
    </button>

    <button mat-icon-button>
        <mat-icon matTooltip="More" class="menu">more_vert</mat-icon>
    </button>
</div>