
 .mat-toolbar{
    color: dimgrey;

  }
    .mat-toolbar {
    background: white;
    border-bottom: 1px solid lightgray;
 }
  .search{
    border:none;
    outline:none;
    background: rgba(0,0,0,0);
    height:40px;
    border-radius: 8px;
  //   margin-left: 150px;
  }
  .searchdiv{
   border:none;
   outline:none;
   background: rgba(0,0,0,0.04);
   height:40px;
   border-radius: 8px;
   margin-right: 180px;
  }
  .iconcolor{
      color: gray;
      padding:20px;
      margin-inline-start: 1px;
  }

  .example-container{
    height: 100%;
  }
  .color{
    color:gray;
    margin-left: 29px;
}
.sidenav{
  width: 250px;
}




