<!-- <div fxFlex="100"> -->
<mat-toolbar class="mat-toolbar">
    <div fxFlex="4" fxFlex.xs="10">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon matTooltip="Main menu" class="menu">menu</mat-icon>
        </button>
    </div>
    <div fxFlex="5" fxHide.xs>
        <img src='../../../assets/image/keep_48dp (1).png' alt="" />
    </div>
    <div fxFlex="17" fxHide.xs>
        <span class="menu">{{titleName}}</span>
        <span class="menu" *ngIf="titleName== null">FundooNotes</span>
    </div>

    <div class="searchdiv" fxFlex="50" fxFlex.xs="80" fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
        <input fxFlex="90" [(ngModel)]="search" (keyup)="lookUp()" [routerLink]="['search']" class="search" matInput
            placeholder="search" [style.fontSize.px]="18" autocomplete="off">
    </div>


    <div fxFlex="5" fxFlex.xs="5" fxHide.xs>
        <button mat-icon-button (click)="setGridAndListView()">
            <mat-icon *ngIf="show">view_stream</mat-icon>
            <mat-icon *ngIf="!show">view_module</mat-icon>
        </button>
    </div>

    <div fxFlex.xs="5">
        <button mat-icon-button [matMenuTriggerFor]="menu2">
            <mat-icon matTooltip="Google account" class="menu">account_circle</mat-icon>
        </button>


        <mat-menu #menu2="matMenu" class="size">
            <div class="size1">
                <div>
                    <div class="circle" (click)="openDialog()">
                        <!-- <input type="file" class="input" (change)="fileChangeEvent($event)" />

                        <image-cropper [imageChangedEvent]="imageChangedEvent" (imageCropped)="imageCropped($event)">
                        </image-cropper> -->
                        <img [src]="imgUrl" class="image">
                    </div>
                </div>
                <div>
                    <h4 class="mainHeading">sapna patil</h4>
                    <p class="subHeading"> sapnapatil344@gmail.com</p>
                </div>

            </div>
            <div>
                <mat-divider></mat-divider>
                <div>
                    <button mat-flat-button (click)="addAccount()">Add Account</button>
                    <button mat-flat-button (click)="signout()">sign out</button>
                </div>
            </div>
        </mat-menu>

    </div>
</mat-toolbar>


<mat-sidenav-container class="example-container">
    <mat-sidenav class="sidenav" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
        (closed)="events.push('close!')">
        <mat-list>
            <mat-list-item fxLayoutGap="20" [routerLink]="['addNote']" class="notesRouter" (click)="note()" id="note">
                <img src="../../../assets/image/lightbulb.svg" class="icon">
                <label class="title">Notes</label>
            </mat-list-item>
            <mat-list-item (click)="Reminders()" [routerLink]="['reminder']" id="note">
                <img src="../../../assets/image/Reminders.svg" class="icon">
                <label class="title">Reminders</label>
            </mat-list-item>
            <mat-divider></mat-divider>

            <div class="labelheight">
                <span>
                    <h5 class="color">LABELS</h5>
                </span>
                <div>
                    <div *ngFor="let labels of label" class="labelsheight" fxLayout="row">
                        <img src="../../../assets/image/labelsicon.svg" style="margin-left: 8px;">
                        <span class="labels1">{{labels.labelName}}</span>
                    </div>
                </div>
                <mat-list-item (click)="editLabels()" id="note" (click)="openDialog1()">
                    <img src="../../../assets/image/label.svg" class="icon">
                    <label class="title">Edit labels</label>

                </mat-list-item>
            </div>

            <mat-divider></mat-divider>
            <mat-list-item [routerLink]="['archive']" (click)="Archive()" id="note">
                <img src="../../../assets/image/Archive.svg" class="icon">
                <label class="title">Archive</label>
            </mat-list-item>
            <mat-list-item [routerLink]="['delete']" (click)="Bin()" id="note">
                <img src="../../../assets/image/Bin.svg" class="icon">
                <label class="title">Bin</label>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>


    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>