<mat-card class="center" fxFlex="50">
  <div class="size">
    <h2 class="color">Forgot Password</h2>
    <h4>please enter correct email to change password...</h4>

    <div class="forgotButton" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [formControl]="email" placeholder=" Enter Email">
        <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="example-button-row">
      <button mat-raised-button color="primary" (click)="sendlink()">sendlink</button>
    </div>
  </div>

</mat-card>