<mat-card class="center" fxFlex="50">
    <mat-card-title>Forgot Password</mat-card-title>
    <mat-card-title>please enter correct email to change password...</mat-card-title>
  
    <div class="forgotButton" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email">
      </mat-form-field>
    </div>
  
    <div class="example-button-row">
        <button mat-raised-button color="primary">sendlink</button>
        </div>
  
  
  </mat-card>