

  
  <div class="maindiv" [style.backgroundColor]="data.color" fxFlex="100">
  <div fxLayout="column" fxFlex="100" class="dialog-box"  >
    
    <div>
      <input type="text"  class="outline" placeholder="Title" [formControl]="title" >
    </div>
    <div>
      <input type="text"  class="outline" placeholder="Take a note..." [formControl]="description">
    </div>
    <div fxLayout="row">
        <app-noteicons class="icons" (updateColorForDialogBox) ="receiveUpdateColorForDialogBox($event)"  (deleteNoteEvent) ="receivedeleteNoteEvent($event)"  (archiveCardEvent)="receiveArchiveCardEvent($event)" [items]=data ></app-noteicons>
        <div>
        <button  mat-button   mat-dialog-close class="closebutton" (click)="close()">
          <span>close</span>
        </button>
        </div>
      </div>
    </div>
    </div>





  