/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.size1{
    width: 80%;
}
.mat-form-field {
    width: 90%;
  }
.mat-form-field-flex{
    width:90%;
}

body{
    height: 100vh;
}