/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// .size{
//     width:90%;
// }
// .center{
// margin-left: 28%;
//     margin-top: 5%;
// }
.size1{
    width: 80%;
}
.center1{
    margin-left: 12%;
    margin-top: 8%;
}
.mat-form-field {
    width: 90%;
  }
.forgotButton{
    width:80%;
}
.resetpassword{
    width:90%;
}
.resetpassword2{
    width:90%;
}
.mat-form-field-flex{
    width:90%;
}
.custom-card {
    background-color: gray;
  }

