.size{
    width:110%;
}
.center{
    margin-left: 28%;
    margin-top: 5%;
    border: lightgray solid 1px;
}.textfield{
    height:10px;
}
.color{
    color: purple;
    text-decoration-style: solid;
}