
  
  <div fxFlex="80" fxLayoutAlign="center center">
      <mat-card class="center" fxFlex="50">
        <h2 class="color">fundooNotes</h2>
        <h4>create your fundoo account</h4>
    
        <div fxLayout="row" fxLayoutGap="5%">
    
          <mat-form-field appearance="outline" class="textfield">
            <mat-label>Firstname</mat-label>
            <input matInput [formControl]="Firstname" placeholder="Firstname">
            <mat-error *ngIf="Firstname.invalid">{{getFirstnameErrorMessage()}}</mat-error>
    
          </mat-form-field>
    
          <mat-form-field appearance="outline">
            <mat-label>Lastname</mat-label>
            <input matInput [formControl]="Lastname" placeholder="Lastname">
            <mat-error *ngIf="Lastname.invalid">{{getLastnameErrorMessage()}}</mat-error>
    
          </mat-form-field>
        </div>
    
    
        <div class="size" fxLayout="column">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="email" placeholder="Email">
            <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    
          </mat-form-field>
        </div>
    
        <div fxLayout="row" fxLayoutGap="5%">
          <mat-form-field appearance="outline">
            <mat-label>password</mat-label>
            <input matInput [formControl]="password" placeholder="Enter your password" [type]="hide ? 'password' : 'password'">
            <mat-error *ngIf="password.invalid">{{getpasswordErrorMessage()}}</mat-error>
    
          </mat-form-field>
    
          <mat-form-field appearance="outline">
            <mat-label>confirm password</mat-label>
            <input matInput placeholder="Enter your password" [formControl]="confirmpassword" [type]="hide ? 'password' : 'password'">
            <mat-error *ngIf="confirmpassword.invalid">{{getconfirmpasswordErrorMessage()}}</mat-error>
    
          </mat-form-field>
        </div>
    
        <div fxLayout="row" fxLayoutGap="5%">
          <button  mat-raised-button color="primary" (click)="register()">Register</button>
       
            <button mat-raised-button color="primary" routerLink="/login">Login</button>
          </div>

      </mat-card>
    
    </div>
    
    
    